<article>
    <h3>Post Title: <%= post.title %></h3>
    <p><%= post.text %></p>
    <div class="block">
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
    </div>
</article>