<h1>Users</h1>

<section class= "all">
  <% @users.each do |user| %>
    <div class="user_container">
   <img class="pic" src="<%= user.photo %>" alt="profile_pic">
   <div class= "name">
   <%= link_to user.name, user_path(user)%>
  <p class="post-count">Number of posts: <%= user.posts_counter || 0 %></p>
</div>
   </div>
  <% end %>
</section>

<%= button_to "sign out", destroy_user_session_path, method: :delete, class: "destroy" %>